* {
    box-sizing: border-box;
}

@media (orientation: portrait) {
    body {
        transform: rotate(90deg);
        transform-origin: center;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next', sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}